<%= render 'users/list', book: @book%>
<div class="col-xs-9">
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>header</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data</td>
		</tr>
	</tbody>
</table>
    </div>
  </div>
</div> 